:root {
  --dark: #222222;
  --dark-hl: #333333;
  --text-color: #222222;
  --light: #efefef;
  --light-dl: #eeeeee;
}

@font-face {
  font-family: spectral;
  src: url(./lib/Spectral-Bold.ttf);
  font-weight: bold;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--light);
  font-size: 14px;
  color: var(--text-color);
  /* overflow: hidden; */
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

form {
  width: 200px;
  padding: 20px;
}
input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 8px;
}
input[type="submit"] {
  width: 100%;
  margin-left: 8px;
  padding-right: 10px;
}

button,
input[type="submit"] {
  background-color: var(--dark);
  color: var(--light);
  border: 1px solid var(--dark-hl);
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  display: inline-flex;
  align-items: center;
}
button:hover,
input[type="submit"]:hover {
  background-color: var(--dark-hl);
}
button svg {
  width: 20px;
  height: 20px;
  fill: var(--dark);
}
button.device {
  background-color: white;
  color: var(--text-color);
  padding: 5px;
}

h1 {
  font-weight: bolder;
  margin-top: 10px;
  font-family: spectral;
  font-size: 2.2rem;
}

svg {
  width: 2em;
  height: 2em;
  margin: 10px;
  fill: white;
}

nav ul {
  background-color: var(--dark);
  width: 200px;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: fixed;
  overflow: auto;
}
nav li {
  height: 70px;
  display: flex;
  padding-left: 20px;
  align-items: center;
}
nav li:hover,
nav li.active {
  background-color: var(--dark-hl);
}
nav a {
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_content {
  background-color: #fefefe;
  /* display: block; */
  margin: auto;
  padding: 20px 40px 20px 40px;
  border: 1px solid #888;
}
#modal_content {
  display: inline;
}
/* The Close Button */
#modal_close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#modal_close:hover,
#modal_close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
}

main {
  margin-left: 200px;
  height: 100vh;
}

#files_block {
  display: flex;
  align-items: center;
}
#devices_block {
  padding: 10px;
}
#loading_block {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#error_block {
  color: darkred;
  width: 100%;
  position: absolute;
  font-size: 2em;
  padding: 20px;
  background-color: white;
  opacity: 0.8;
}
